{
  "passPerPreset": true,
  "presets": [
    {
      "plugins": [
        "./plugins/babelRelayPlugin"
      ]
    },
    "react",
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "react-hot-loader/babel"
  ],
  "env": {
    "development": {
      "plugins": ["transform-react-jsx-source"],
    }
  }
}
